extends layout 
 
block content 
  h1= title 
 
  form(id='universityForm', action="/resource/university", method="POST") 
    div.form-group 
        label.universityAttr(for='universityname') universityname
        input#universityname(type='text', name='universityname') 
    div.form-group 
        label.universityAttr(for='departmentname')  departmentname 
        input#departmentname(type='text', name='departmentname') 
    div.form-group 
        label.universityAttr(for='score')  score 
        input#score(type='number', name='score') 
    input(type="submit") 
 
  script. 
    document.forms['universityForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 